@use "./style/button.scss";


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body 
#root{
    font-family: 'Inter', sans-serif;
    background-color: #0F172A;
    color: #E2E8F0;
    height: 100%;
    width: 100%;
}